/* filepath: c:\Users\Carl\Desktop\VISEMO-REPLICA\view\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
    @apply border-b border-black outline-none py-2 px-2 w-full;
  }

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}